$colorHighlight: #ee2a24;
$colorDarkGrey: #6d6e70;
$colorLightGreen: #758e26;
$colorDarkGreen: #9EB82B;
$colorDarkBlue: #003657;
$colorLightBlue: #27aae1;
$lightGrey: #d4d4d5;
$arcticGrey: #F3F3F3;
$grayGradient: linear-gradient(135deg, rgb(226,227,227) 0%,rgb(255,255,255) 100%);
$grayGradientRadial: radial-gradient(ellipse at center, rgba(109,110,112, .7) 27%,rgba(84,84,84, .7) 100%);
$borderColor: #6d6e70;
$colorNavBlack: #000000;
$colorNavBackground: rgba(155,8,0,0.93);
$colorBlack: #383739;
$colorWhite: #ffffff;
$colorRed: #ee2a24;
$colorActive: #ee2a24;