.whiteList {
    h2 {
        color: $colorWhite;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        margin: 0;
        padding: 13px 0 0 13px;
        width: 350px;
    }

    ul.whiteList-ul {
        padding-left: 10px;
        margin-top: 0;

        li {
            list-style: none;
            margin-left: 20px;
            line-height: 16px;
            font-size: 15px;
            width: 315px;
            margin-bottom: 2px;

            a {
                color: $colorWhite;
                text-decoration: none;
                p {
                    margin-bottom:0;
                }
            }

            &:before {
                content: "";
                border-color: transparent #fff;
                border-style: solid;
                border-width: .35em 0 .35em .45em;
                display: block;
                height: 0;
                width: 0;
                left: -1em;
                top: .9em;
                position: relative;
            }
        }
    }
}

.blueGradiant {
    height: 250px;
    background: -webkit-radial-gradient(ellipse at bottom right, #29a8e0 0, #0a4b7f 100%);
    background: radial-gradient(ellipse at bottom right, #29a8e0 0, #0a4b7f 100%);
}

.darkBlue {
    height: 250px;
    background: #003657;

    p {
        margin: 0;
        padding: 3px;
    }
}

.two-stack {
    height: 250px;
    padding-bottom: 0;

    .lightGreen {
        height: 100%;
        background: #758e26;
        margin-bottom: 5px;

        ul {
            padding-bottom: 0;
            margin-bottom: 9px;

            li {
                line-height: 10px;
            }
        }
    }

    .redGradiant {
        height: 100%;
        background: -webkit-radial-gradient(ellipse at bottom left, rgba(238, 42, 36, 0.93) 0, rgba(127, 8, 0, 0.93) 100%);
        background: radial-gradient(ellipse at bottom left, rgba(238, 42, 36, 0.93) 0, rgba(127, 8, 0, 0.93) 100%);

        a {
            color: $colorWhite;

            img {
                float: left;
                width: 125px;
            }

            p {
                line-height: 20px;
                padding: 8px 0;
                font-size: 15px;
                margin: 0;
            }
        }
    }
}

.ProductTreeTitles {
    .col-md-4 {
        margin-top: 15px;
        float: left;
        position: relative;

        & > div {
            background: $lightGrey;
            padding: 10px 12px;
            color: $colorRed;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            font-size: 18px;
            cursor: pointer;
            transition: all ease-in-out 0.2s;

            & > div {
                &:after {
                    content: '+';
                    border-radius: 100%;
                    background: #ee2a24;
                    color: #fff;
                    font-size: 20px;
                    padding: 0 8px;
                    margin: 0 0 0 6px;
                    position: absolute;
                    right: 8px;
                    top: 9px;
                    cursor: pointer;
                }
            }

            &.open {
                padding-bottom: 20px;

                & > div {
                    &:after {
                        content: '-';
                        font-size: 20px;
                        padding: 11px 10px 14px 10px;
                        text-align: center;
                        line-height: 3px;
                    }
                }
            }
        }
    }
}
.ProductTreeContent {
    background: $lightGrey;
    overflow: hidden;
    height: 0;
    transition: all ease-in-out 0.2s;

    & > .row {
        display: none;
    }

    a {
        color: $colorBlack;
    }

    ul {
        padding-left: 30px;

        li {
            list-style: none;

            &.submenu {
                ul.subtree-menu {
                    transition: all ease-in-out 0.2s;
                    overflow: hidden;
                }

                &:before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 5px solid $colorBlack;
                    position: absolute;
                    margin-top: 5px;
                    margin-left: -12px;
                    transition: all ease-in-out 0.2s;
                }

                &.open {
                    &:before {
                        transform: rotate(90deg);
                    }
                }
            }

            ul {
                display: none;
            }
        }
    }
}