#packaging-head {
    padding: 20px 4px 3px;


}

.packaging {

    table {
        background-color: $colorWhite;
        border-collapse: collapse;
        width: 100%;
        margin: 15px 0;
        overflow-x: auto;

        a {
            color: $colorBlack;
            display: block;
            padding: 5px 10px;
            text-decoration: none;
            text-align: center;
        }

        th {
            background-color: $colorWhite;
            color: $colorRed;
            cursor: pointer;
            padding: 5px 10px;
            border-bottom: 2px solid $lightGrey;
            font-weight: 600;
            white-space: nowrap;

            &:nth-child(8) {
                text-align: left;
                white-space: normal;
            }

            &:last-of-type {
                border-right: 0px;
            }

            > span {
                position: relative;
                border-top: 10px solid $colorBlack;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                float: right;
                top: 7px;
                text-align: center;
            }
        }

        tr {
            &:nth-of-type(even) {
                background-color: $arcticGrey;
            }
        }


        td {
            border-bottom: 1px solid $lightGrey;
            padding: 8px;
            white-space: nowrap;
            border-right: 1px solid $lightGrey;
            font-size: 14px;
            text-align: center;

            &:first-of-type {
                a {
                    padding-left: 35px;
                }
            }

            &:nth-child(2) {
                text-align: left;
                white-space: normal;
            }

            &:not(:first-of-type) {

                a {
                    background-image: none !important;
                }
            }

            &:last-of-type {
                border-right: 0px;
                text-align: center;

                a {
                    text-decoration: underline;
                }
            }
        }
    }
}

#packageFamily {
    table {
        tr {
            &:hover {
                td {
                    background-color: $lightGrey ;

                    a {
                        color: $colorNavBlack;
                    }
                }
            }
        }
    }
}

#packageItems {
    table {
        display: block;
    }
}

#package-btn-container {
    text-align: right;

    #packageFam-btn {
        box-sizing: initial;
        color: $colorWhite;
        padding: 13px 16px;
        line-height: 40px;
        border-radius: 5px;
        background-color: $colorRed;
    }
}