.parametric {
    position: relative;
    width: 100%;
    max-width: 920px;
}

.parametric * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.parametric .parametric__header {
    display: inline-block;
    position: relative;
    width: 100%;
}

.parametric .parametric__title {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    color: #EE2A24;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media(max-width: 450px) {
    .parametric .parametric__title {
        font-size: 16px;
        white-space: nowrap;
    }
}

.parametric .parametric__title-arrow {
    margin-left: 10px;
    vertical-align: 2px;
    font-size: 70%;
}

.parametric .parametric__title-options {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    min-width: 290px;
    padding: 0;
    margin: 0;
    z-index: 10;
    list-style: none;
    color: #FFF;
    background-color: rgba(0, 0, 0, .92);
    box-shadow: 3px 3px 5px #999;
}

.parametric .parametric__title-options li {
    padding: 12px 12px;
    margin: 0;
    font-size: 16px;
    cursor: pointer;
}

@media(max-width: 450px) {
    .parametric .parametric__title-options li {
        font-size: 14px;
    }
}

.parametric .parametric__title-options li:not(.active):hover {
    background-color: rgba(50, 50, 50, .92);
}

.parametric .parametric__title-options li.active {
    color: rgba(80, 80, 80, 1);
    cursor: default;
}

.parametric .parametric__view-all-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 13px;
    color: #EE2A24;
    text-decoration: none;
    border-bottom: 1px dotted #EE2A24;
}

@media(max-width: 500px) {
    .parametric .parametric__view-all-btn {
        display: none;
    }
}

.parametric .parametric__options {
    position: relative;
    text-align: right;
    margin: 5px 0;
}

@media(max-width: 500px) {
    .parametric .parametric__options {
        text-align: left;
    }
}

.parametric .parametric__search {
    display: inline-block;
    position: relative;
    margin-right: 25px;
}

.parametric .parametric__search-box {
    display: inline-block;
    position: relative;
}

.parametric .parametric__search .parametric__search-input {
    height: auto;
    width: 180px;
    padding: 4px;
    padding-left: 28px;
    padding-right: 24px;
    margin: 0;
    border: 1px solid #DDD;
    border-radius: 0;
    outline: none;
}

.parametric .parametric__search .parametric__search-input::placeholder {
    color: #BBB;
}

.parametric .parametric__search .parametric__search-input:hover,
.parametric .parametric__search .parametric__search-input:focus {
    border: 1px solid #BBB;
}

.parametric .parametric__search .parametric__search-input:valid + .clear-input {
    display: block;
}

.parametric .parametric__search .clear-input {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 7px;
    z-index: 2;
    line-height: 1.2;
    font-size: 20px;
    color: #BBB;
}

.parametric .parametric__search .clear-input:hover {
    color: tomato;
    cursor: pointer;
}

.parametric .parametric__search-icon {
    position: absolute;
    left: 0;
    top: 4px;
    padding: 0 7px;
    color: #CCC;
    font-size: 14px;
}

.parametric .parametric__columns-toggle-box {
    display: none;
}

.parametric .parametric__columns-toggle {
    display: inline-block;
    padding: 2px 5px;
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    background-color: #F4F4F4;
    border: 1px solid #F4F4F4;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media(max-width: 500px) {
    .parametric .parametric__columns-toggle {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.parametric .parametric__columns-toggle:hover {
    background-color: #EEE;
}

.parametric .parametric__columns-toggle-box:checked + .parametric__columns-toggle {
    color: #AAA;
    background-color: #FFF;
    border: 1px solid #EEE;
}

.parametric .parametric__columns-toggle-box:checked + .parametric__columns-toggle + .parametric__columns-list {
    display: block;
}

.parametric .parametric__columns-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    max-width: calc(100vw - 40px);
    overflow: hidden;
    margin: 0;
    padding: 10px;
    z-index: 10;
    list-style: none;
    text-align: left;
    color: #FFF;
    background-color: rgba(0, 0, 0, .92);
    box-shadow: 3px 3px 5px #999;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@media(max-width: 767px) {
    .parametric .parametric__columns-list {
        width: 100%;
    }
}

.parametric .parametric__columns-list .columns-list__top {
    height: 40px;
    padding-bottom: 5px;
    border-bottom: 1px solid #222;
}

.parametric .parametric__columns-list .columns-list__close {
    display: inline-block;
    float: right;
    padding: 10px;
    line-height: 0;
    color: #777;
    font-size: 24px;
}

.parametric .parametric__columns-list .columns-list__reset {
    display: inline-block;
    float: left;
    padding: 5px;
    color: #777;
    font-size: 14px;
    background-color: #222;
}

.parametric .parametric__columns-list li {
    padding: 5px 0;
    margin: 0;
    white-space: nowrap;
}

@media(max-width: 450px) {
    .parametric .parametric__columns-list li {
        font-size: 14px;
    }
}

.parametric .parametric__columns-list li *:not(.columns-list__top) {
    cursor: pointer;
}

.parametric .parametric__columns-list input[type=checkbox] {
    margin-bottom: 0;
}

.parametric .parametric__columns-list li label {
    display: inline;
    font-weight: normal;
    margin-left: 5px;
}

.parametric .parametric__columns-list li label:hover,
.parametric .parametric__columns-list li input[type=checkbox]:hover + label {
    color: #BBB;
}



.parametric .parametric__pagination {
    position: relative;
    margin-top: 15px;
    text-align: center;
    white-space: nowrap;
}

.parametric .parametric__pagination-total {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 150px;
    padding: 8px;
    font-size: 12px;
    background-color: #F4F4F4;
    user-select: none;
}

@media(max-width: 500px) {
    .parametric .parametric__pagination-total {
        display: block;
        position: relative;
        margin: 0 auto;
        margin-top: 15px;
    }
}

.parametric .parametric__pagination-page-button {
    display: inline-block;
    padding: 8px;
    margin: 0 2px;
    font-size: 12px;
    background-color: #F4F4F4;
    border: 1px solid #EDEDED;
    user-select: none;
    cursor: pointer;
}

.parametric .parametric__pagination-page-button.current-page {
    padding: 12px;
    background-color: #EAEAEA;
    border: 1px solid #E1E1E1;
    cursor: default;
}

.parametric .parametric__pagination-pages-break {
    display: inline-block;
    padding: 8px;
    font-size: 12px;
}



.parametric .parametric-table {
    position: relative;
    width: 100%;
    overflow-x: auto;
    border-bottom: 2px solid #EAEAEA;
}

.parametric .parametric-table * {
    font-size: 14px;
}

@media(max-width: 450px) {
    .parametric .parametric-table * {
        font-size: 12px;
    }
}

.parametric .parametric-table .table__scrollable-area {
    display: inline-block;
    min-width: 100%;
}

.parametric .parametric-table [class*='table__row'] {
    display: flex;
    font-size: 0;
    width: 100%;
}

.parametric .parametric-table .table__row--header {
    border-bottom: 2px solid #EAEAEA;
}

.parametric .parametric-table [class*='table__row'] > .table__cell {
    display: none;
    width: 12.5%; /* default of 12.5%, or 8 columns */
    min-width: 85px;
    padding: 8px;
    border-left: 1px solid #EAEAEA;
    background-color: #FFF;
}

.parametric .parametric-table [class*='table__row']:not(.table__row--header) > .table__cell {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.parametric .parametric-table [class*='table__row']:not(.table__row--header) > .table__cell:hover {
    white-space: normal;
    overflow: visible;
}

.parametric .parametric-table .table__row--header > .table__cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    padding-bottom: 1px;
    cursor: default;
    user-select: none;
}

.parametric .parametric-table .table__row:nth-child(2n-1) > .table__cell {
    background-color: #F4F4F4;
}

.parametric .parametric-table [class*='table__row'] > .table__cell:first-of-type {
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    border-left: none;
    border-right: 1px solid #EAEAEA;
}

.parametric .parametric-table [class*='table__row']:not(.table__row--header) > .table__cell:first-of-type a {
    color: #EE2A24;
    text-decoration: underline;
}

.parametric .sort-indicator {
    display: block;
}

.parametric .parametric__message {
    padding: 25px 0;
    font-size: 18px;
    text-align: center;
}

.parametric-admin-ui {
    .icon-header {
        text-align: center;
    }

    thead tr th {
        font-size: 12px;

        &:not(.icon-header) {
            padding-left: 8px;
        }
    }

    tbody tr td {
        padding: 0 3px;

        .form-control {
            padding: 6px 6px;
        }

        input[type=checkbox] {
            box-shadow: none;
        }
    }
}
