#divPressRelease {


    .breadcrumb {
        padding-top: 25px;
        padding-bottom: 5px;
    }

    .ca_head {
        padding-top: 15px;
        font-weight: 300;

        div {
            padding-bottom: 20px;
        }

        #pageSocial {
            padding-top: 15px;
            padding-bottom: 5px;
            box-sizing: initial;
        }
    }



    .dotted {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}
